body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#site-controls h3 {
  margin: 0;
  display: inline-block;
  width: 150px;
}
ul#sites {
  padding: 0;
  overflow: auto;
}
ul#sites li {
  list-style: none;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  width: 132px;
  height: 152px;
  position: relative;
}
ul#sites li#add-site {
  background-color: #eee;
}
ul#sites li#add-site span {
  position: absolute;
  margin: 20px 10px;
}
ul#sites li div.site {
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
ul#sites li span.delete-button {
  position: absolute;
  top: -24px;
  right: -24px;
  color: red;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
ul#sites li:hover span.delete-button {
  opacity: 1;
}
div.site {
  width: 600px;
  height: 700px;
  padding: 30px;
  overflow: hidden;
}
div.site blockquote {
  /* Overide bootstraps styling. */

  border: 0;
  margin: 20px 40px;
}
div#current-site span.delete-button {
  display: none;
}
